<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Number key="Number" value="2577566778"/>
  <VerifyKey key="VerifyKey" value="2048437217"/>
  <Address key="Address" value="localhost:8080"/>
  <BotName key="BotName" value="KK"/>
  <GenshinRoleUpName key ="GenshinRoleUpName" value ="影寂天下人"/>
</configuration>